#tmps
**/*.pyc
**/*.py~
*~
\#*\#

#data
images/
images_original/

#labels
labels/

#tensorflow
#tensorflow/

#checkpoints
tensorflow/models/checkpoints/
tensorflow/models/faster_checkpoints/
tensorflow/models/model/train/
tensorflow/models/model/valid/
tensorflow/models/faster_rcnn_resnet101_coco_model/
tensorflow/models/object_detection/faster_rcnn_inception_resnet_v2_atrous_oid_2017_11_08/


